body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700px;
  color: #ffffff;
  text-transform: uppercase;
}

background-color: #ffffff;
  background-image: url("img/background_photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-brown {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus,
.button:active,{
  background-color: #558fb3;
}

.button-brown:hover,
.button-brown:focus,
.button-brown:active{
  background-color: #66574e;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover
.site-navigation a:focus {
  background-color: #242424;
}

.forms h3 {
  font-size: 21px;
  line-height: 26px;
  list-style: none;
}

.forms-list {
  list-style: none;
  background-color: #ffffff;
}

.forms-item {
  font-size: 14px;
  line-height: 26px;
}

.forms-range {
  font-size: 14px;
  font-weight: 21px;
  border: 2px solid #ffffff;
}


.feature-item.img {
  font-size: 135px;
  line-height: 90px;
  list-style: none;
  background-color: #ffffff;
}

.features-list {
  list-style: none;
  background-color: #ffffff;
}

.feature h3 {
  font-size: 21px;
  line-height: 26px;
  list-style: none;
}

.feature-item h3 {
  font-size: 14px;
  line-height: 26px;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #558fb3;
}

.main-footer {
  color: #000000;

  background-color: #ffffff;
  background-image: url("");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #ffffff;

  background-color: #81b3d2;

}
